$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light:#8d6e63;
$background-pale:#ede7f6;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-pale ;
    min-height: 150px;
}