.full-width{
    width: 95%;
}

.half-width{
    width: 45%;
}

.form-size{
    width: 75%;
}

.mr-2{
    margin-right: 20px;
}

.mr-n7{
    margin-right: 70px;
}

.con-toolbar{
    background-color: #7e57c2;
    color: white;
}