<div class="container" fxLayout="column" fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>
    <!-- Playing with display helpers 
        fxHide.gt-md = Hide the component for md screen and greater
        fxHide.lt-md = Hide the component for md screen and smaller
    -->

    <!-- Directives 
        *ngIf=""
        *ngFor=""
        
        You can selectively add elements to the DOM under certain conditions
        *ngSwitch=""
    -->
    <div fxFlex *ngIf="dishes">
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]" style="cursor: pointer" appHighlight>
                <img height="200px" matListAvatar src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
                <mat-grid-tile-footer>
                    <h1>{{dish.name | uppercase}}</h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="!dishes || errorMessage">
        <mat-spinner color="accent"></mat-spinner>
        <br>
        <h4>Loading . . . Please wait</h4>
    </div>

    <div fxFlex *ngIf="errorMessage">
        <h2><strong>ERROR !</strong></h2>
        <h4>{{errorMessage}}</h4>
    </div>
</div>