<div class="unicorn-dark-theme">
    <mat-toolbar color="primary"> <span>ConFusion</span> </mat-toolbar>
</div>

<mat-card class="unicorn-dark-theme"> 
    My Themes: 
    <button mat-raised-button color="primary">Primary</button> 
    <button mat-raised-button color="accent">Accent</button> 
    <button mat-raised-button color="warn">Warning</button> 
 </mat-card> 

 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita perferendis praesentium asperiores. Voluptate adipisci ducimus culpa non odio veniam itaque repellendus ullam ea. Harum explicabo deleniti iusto voluptate voluptates. Dolores veniam blanditiis magni consequuntur porro deleniti itaque qui, quos sint numquam quod eius maxime libero minima nemo consequatur, ipsa incidunt. Corrupti aliquid adipisci numquam dolores maxime nesciunt quaerat amet at accusantium placeat dolor accusamus voluptas ullam incidunt nemo, officia doloribus libero. Officiis accusantium, quis at animi, atque vero asperiores, explicabo nobis quae vel perferendis fugit quidem? Minus et voluptates quae fugiat obcaecati consequatur, veniam quibusdam temporibus quaerat ratione, sapiente deleniti.</p>