<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0" *ngIf="dish">

  <div fxFlex="40">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
            <mat-card-content>
                <p>{{dish.description}}</p>

                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishdetail', prev]">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    <button mat-button (click)="goBack()">BACK</button>
                    <span class="flex-spacer"></span>
                    <button mat-button [routerLink]="['/dishdetail', next]">
                        <span class="fa fa-chevron-right fa-lg"></span>
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
  </div>

  <div fxFlex="40">
    <mat-list role="list">
        <h3><strong>Comments</strong></h3>
        <mat-list-item role="listItem" *ngFor="let comment of dish.comments">
            <div mat-line>{{comment.comment}}</div>
            <div mat-line>{{comment.rating}} Stars</div>
            <div mat-line>-- {{comment.author}} {{comment.date | date:"MMM dd, yyyy"}}</div>
        </mat-list-item>
      </mat-list>
      <br><br>
      
    <h3><strong>SEND US YOUR FEEDBACK</strong></h3>
    <div *ngIf="commentForm.dirty && commentForm.valid">
        <h5><strong>PREVIEW: </strong></h5>
            <mat-list-item role="listItem">
                <div mat-line *ngIf="commentForm.value.comment">
                    <small>
                        {{commentForm.value.comment}}
                    </small>
                </div>
                <div mat-line>
                    <small>
                        {{commentForm.value.rating}} Stars
                    </small>
                </div>
    
                <div mat-line *ngIf="commentForm.value.author">
                    <small>
                        -- {{commentForm.value.author}}
                    </small>
                </div>
            </mat-list-item>
        <br><br>
    </div>

      <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="full-width" appearance="outline" color="accent">
                <input matInput formControlName="author" placeholder="Author" type="text" required>
                <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-label>Score</mat-label>
            <mat-slider class="full-width"
            thumbLabel
            tickInterval="1"
            min="1"
            max="5"
            formControlName="rating"
            required
            ></mat-slider>
            <mat-error *ngIf="formErrors.rating">{{formErrors.rating}}</mat-error>
        </p>

        <p>
            <mat-form-field class="full-width" appearance="outline" color="accent">
                <textarea matInput formControlName="comment" required placeholder="Your comments" rows="10"></textarea>
                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
            </mat-form-field>
        </p>

        <div dir="rtl" class="full-width">
            <button type="submit" mat-raised-button class="con-toolbar" [disabled]="commentForm.invalid">Submit</button>
          </div>
      </form>
  </div>

</div>

<div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="!dish || dishErrorMessage">
    <mat-spinner color="accent"></mat-spinner>
    <br>
    <h4>Loading . . . Please wait</h4>
</div>

<div fxFlex *ngIf="dishErrorMessage">
    <h2><strong>ERROR !</strong></h2>
    <h4>{{dishErrorMessage}}</h4>
</div>