@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$conFusion-primary: mat-palette($mat-blue);
$conFusion-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$conFusion-warn: mat-palette($mat-red);
$conFusion-theme: mat-light-theme((
  color: (
    primary: $conFusion-primary,
    accent: $conFusion-accent,
    warn: $conFusion-warn,
  )
));

@include angular-material-theme($conFusion-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-brown, A200);
$dark-accent:  mat-palette($mat-indigo, A100, A50, A200);
$dark-warn:    mat-palette($mat-red, A100);
$dark-theme:   mat-light-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-color($dark-theme);
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  color: #707070;
}
