@import '~@angular/material/theming';
@include mat-core();

$conFusion-primary: mat-palette($mat-blue);
$conFusion-accent: mat-palette($mat-deep-purple, A700, A100, A900);

// The warn palette is optional (defaults to red).
$conFusion-warn: mat-palette($mat-red);
$conFusion-theme: mat-light-theme((
  color: (
    primary: $conFusion-primary,
    accent: $conFusion-accent,
    warn: $conFusion-warn,
  )
));

@include angular-material-theme($conFusion-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-brown, A200);
$dark-accent:  mat-palette($mat-blue-grey, A100, A600, A200);
$dark-warn:    mat-palette($mat-red, A100);
$dark-theme:   mat-light-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.unicorn-dark-theme {
  @include angular-material-color($dark-theme);
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  color: #707070;
}

.container {
  margin: 20px;
  display: flex;
}

.flex-spacer{
  flex: 1 1 auto;
}